h1 {
    color: #F38993;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(144, 188, 242);
    font-weight: 600;
    font-size: xx-large;


}

#xml_output {
    white-space: pre;
    font-family: courier;




}

.polling_message {
    color: rgb(245, 202, 253);
    float: left;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
}

.cylon_eye {
    background-color: #F38993;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, .9) 25%,
            rgba(0, 0, 0, .1) 50%,
            rgba(0, 0, 0, .9) 75%);
    color: white;
    height: 100%;
    width: 20%;

    -webkit-animation: 3s linear os infinite alternate move_eye;
    animation: 3s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes move_eye {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}